// {
//   "presets": ["@babel/react", "@babel/env"],
//   "ignore": ["/node_modules/(?!hack-hydra-dx-wasm)"]
// }
{
  "env": {
    "test": {
      "plugins": ["plugin-transform-modules-commonjs"],
      "ignore": ["node_modules/(?!hack-hydra-dx-wasm).+/"]
    }
  }
}